node_modules
dist
.expo
.expo-shared
*.log
.env
.env.local
.env.production
.env.staging
.env.*.local
.DS_Store
coverage
android
ios
*.tsbuildinfo
.drizzle

# Supabase
supabase/.branches
supabase/.temp
supabase/functions/**/.env
